* {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-section{
    padding: 3rem;
    background: linear-gradient(to bottom, #202A46, #2C3C57, #334762);

}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    position: fixed;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    text-align: center;
    width: 40%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

form {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form h2 {
    text-align: center;
    color: white;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

form input[type="submit"] {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    margin-left: 2rem;
}

form input[type="submit"]:hover {
    background-color: #4cae4c;
}
